.top {
  border: 2px solid black;
  text-align: center;
}
.work h5 {
  float: right;
  font-style: italic;
}
.work h4 {
  font-weight: bold;
  margin-top: 0em;
  text-decoration: underline;
}
.work h3 {
  margin-bottom: 3px;
  text-decoration: underline;
}
h2 {
  text-decoration: underline;
}